.c-blog-full {
  > img {
    width: 100%;
    display: block;
    height: auto;
    border: 1px solid black;
  }

  p {
    text-align: justify;
    > img {
      width: 100%;
      display: block;
      height: auto;
      border: 1px solid black;
    }

    > a {
      color: $main-blue;
      transition: 0.1s;
      font-weight: 700;

      &:hover {
        background-color: $main-blue;
        color: white;
        padding: 0.2rem 0rem;
        border-radius: 2px;
        //color
      }
    }
  }
}
