.c-project {
  display: flex;
  margin-bottom: $gap-md;

  //switch to row-reverse on even child index
  &:nth-child(even) {
    flex-direction: row-reverse;

    .c-project__info {
      @media (min-width: $lg) {
        padding: 4% 7%;
        padding-right: 25px;
        border: 1px solid $main-dark;
        border-right: 5px solid $main-dark;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 4% 7%;
    padding-right: 25px;
    border: 1px solid $main-dark;
    border-left: 5px solid $main-dark;

    p {
      margin-bottom: $gap-md;
    }

    @media (max-width: $md-max) {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border: 1px solid $main-dark;

      padding-top: 15px;
      border-top: 5px solid $main-dark;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #666;
  }

  .swiper {
    height: 100%;
    border: 1px solid black;
    .swiper-wrapper {
      height: 100%;
    }

    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @media (max-width: $md-max) {
        height: 300px;
        margin-bottom: $gap-sm;
      }
    }

    .swiper-pagination {
      bottom: 5% !important;
      display: flex;
      justify-content: right;
      padding-right: 20px;

      @media (max-width: $md-max) {
        bottom: 12% !important;
      }
    }

    .swiper-pagination-bullet {
      width: 20px !important;
      border-radius: 0px !important;
      background-color: white !important;
    }
  }
}
