.c-selectable {
  @include filter_selectable;
  background-color: transparent;
  border: 1px solid $main-dark;
  border-radius: 15px;
  padding: 5px 10px;
  transition: transform 0.05s;

  &:active {
    transform: scale(0.9);
  }

  &--selected {
    background-color: $main-dark;
    color: white;
  }
}
