@use "sass:math";

@function rem($size) {
  $remSize: math.div($size, 16px);
  @return #{$remSize}rem;
}

$gap-4xl: rem(300px);
$gap-3xl: rem(200px);
$gap-2xl: rem(142px);
$gap-xl: rem(94px);
$gap-lg: rem(64px);
$gap-md: rem(32px);
$gap-sm: rem(16px);
$gap-xs: rem(10px);

$downsize-ratio: 0.8;

.u-space-b-sm {
  margin-bottom: $gap-sm;

  @media (max-width: $sm-max) {
    margin-bottom: calc(#{$gap-sm} * #{$downsize-ratio});
  }
}

.u-space-b-md {
  margin-bottom: $gap-md;

  @media (max-width: $sm-max) {
    margin-bottom: calc(#{$gap-md} * #{$downsize-ratio});
  }
}

.u-space-b-lg {
  margin-bottom: $gap-lg;

  @media (max-width: $sm-max) {
    margin-bottom: calc(#{$gap-lg} * #{$downsize-ratio});
  }
}

.u-space-b-xl {
  margin-bottom: $gap-xl;

  @media (max-width: $sm-max) {
    margin-bottom: calc(#{$gap-xl} * #{$downsize-ratio});
  }
}

.u-space-b-2xl {
  margin-bottom: $gap-2xl;

  @media (max-width: $sm-max) {
    margin-bottom: calc(#{$gap-2xl} * #{$downsize-ratio});
  }
}

.u-space-b-3xl {
  margin-bottom: $gap-3xl;

  @media (max-width: $sm-max) {
    margin-bottom: calc(#{$gap-3xl} * #{$downsize-ratio});
  }
}

.u-space-b-4xl {
  margin-bottom: $gap-4xl;

  @media (max-width: $sm-max) {
    margin-bottom: calc(#{$gap-4xl} * #{$downsize-ratio});
  }
}

.u-space-t-sm {
  margin-top: $gap-sm;

  @media (max-width: $sm-max) {
    margin-top: calc(#{$gap-sm} * #{$downsize-ratio});
  }
}

.u-space-t-md {
  margin-top: $gap-md;

  @media (max-width: $sm-max) {
    margin-top: calc(#{$gap-md} * #{$downsize-ratio});
  }
}

.u-space-t-lg {
  margin-top: $gap-lg;

  @media (max-width: $sm-max) {
    margin-top: calc(#{$gap-lg} * #{$downsize-ratio});
  }
}

.u-space-t-xl {
  margin-top: $gap-xl;

  @media (max-width: $sm-max) {
    margin-top: calc(#{$gap-xl} * #{$downsize-ratio});
  }
}

.u-space-t-2xl {
  margin-top: $gap-2xl;

  @media (max-width: $sm-max) {
    margin-top: calc(#{$gap-2xl} * #{$downsize-ratio});
  }
}

.u-space-t-3xl {
  margin-top: $gap-3xl;

  @media (max-width: $sm-max) {
    margin-top: calc(#{$gap-3xl} * #{$downsize-ratio});
  }
}

.u-space-t-4xl {
  margin-top: $gap-4xl;

  @media (max-width: $sm-max) {
    margin-top: calc(#{$gap-4xl} * #{$downsize-ratio});
  }
}

.u-match-height {
  height: 100%;
}
