.u-hide-overflow {
  overflow: hidden;
}

.u-text-center {
  text-align: center;
}

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-m-b-xs {
  margin-bottom: $gap-xs;
}

.u-m-b-sm {
  margin-bottom: $gap-sm;
}

.u-m-b-md {
  margin-bottom: $gap-md;
}

.u-m-b-lg {
  margin-bottom: $gap-lg;
}
