//THEME IMPORTS///////////////////
@import "./theme/breakpoints.scss";
@import "./theme/spacing.scss";
@import "./theme/grid.scss";
@import "./theme/typography.scss";
@import "./theme/normalize.scss";
@import "./theme/colors.scss";
@import "./theme/utilities.scss";

//COMPONENTS//////////////////////
@import "./components/c-header.scss";
@import "./components/c-hero-card.scss";
@import "./components/c-button.scss";
@import "./components/c-section-card.scss";
@import "./components/c-footer.scss";
@import "./components/c-main-video.scss";
@import "./components/c-banner.scss";
@import "./components/c-postgrid.scss";
@import "./components/c-blog-preview.scss";
@import "./components/c-blog-full.scss";
@import "./components/c-backlink.scss";
@import "./components/c-info-card.scss";
@import "./components/c-project.scss";
@import "./components/c-scroll-to-top.scss";
@import "./components/c-titled-separator.scss";
@import "./components/c-blog-list.scss";
@import "./components/c-file-download.scss";

a {
  text-decoration: none;
}

body {
  position: relative;
  font-family: $font--primary;
}

.c-main {
  position: relative;
  padding-top: 95px;
  padding-bottom: 95px;

  &__error {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @media (max-width: $sm-max) {
    padding-top: 100px;
  }

  ul {
    padding-left: 2px;
    li {
      list-style: none;

      p {
        display: inline;
      }

      a {
        color: $main-blue;
      }

      &:not(:last-child) {
        margin-bottom: $gap-xs;
      }

      //custom list style
      &::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background-color: $main-dark;
      }
    }
  }
}
